<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.aidiapp.caperucitaroja"
    version   = "0.0.1">

<name>Caperucita Roja</name>

<description>
El cuento de caperucita roja
</description>

<author href="http://www.aidiapp.com" >
Aidiapp
</author>

<access origin="*" subdomains="true" />
<preference name="permissions" value="none"/>
</widget>

